include ../components/mixins/page
include ../components/mixins/btn
include ../components/mixins/portfolioCard
include ../components/mixins/serviceCard
include ../components/mixins/jobCard
include ../components/mixins/modalForOrder

+page('Главная', 'index-page')

    .container                
        section.section
            h2.section__title Кейсы
            .portfolio
                +portfolioCard('1', 'БЦ Миллениум')
                +portfolioCard('1', 'Марта. Виртуальный учитель')
                +portfolioCard('1', 'Bright Mind Center')
                +portfolioCard('1', 'БЦ Миллениум')
                +portfolioCard('1', 'БЦ Миллениум')
                +portfolioCard('1', 'БЦ Миллениум')

        section.section
            h2.section__title Услуги
            .service
                +serviceCard('Site', 'Сайты', ['от 80.000₽', '7 дней на разработку', 'что-то еще', 'и еще что-то'])
                +serviceCard('Logo', 'Логотипы', ['от 80.000₽', '7 дней на разработку', 'что-то еще', 'и еще что-то'])
                +serviceCard('Name', 'Нейминг', ['от 80.000₽', '7 дней на разработку', 'что-то еще', 'и еще что-то'])
                +serviceCard('Identity', 'Айдентика', ['от 80.000₽', '7 дней на разработку', 'что-то еще', 'и еще что-то'])
                +serviceCard('Mascot', 'Маскоты', ['от 80.000₽', '7 дней на разработку', 'что-то еще', 'и еще что-то'])
        
        section.section
            h2.section__title Вакансии
            .jobs
                +jobCard('1', 'Дизайнер', ['от 80.000₽', '7 дней на разработку', 'что-то еще', 'и еще что-то'])
                +jobCard('2', 'Менеджер', ['от 80.000₽', '7 дней на разработку', 'что-то еще', 'и еще что-то'])
                +jobCard('3', 'Иллюстратор', ['от 80.000₽', '7 дней на разработку', 'что-то еще', 'и еще что-то'])

        section.section
            h2.section__title О нас
            .about 
                img.about__img-top(src="./assets/images/about-img1.jpg", alt="Картинка")
                .about__middle
                    .about__middle-text
                        h3.about__title Описание
                        p.about__dscr.about__dscr--mb Составление детального плана и структуры сайта, учитывающего потребности и желания арендаторов и посетителей бизнес-центра.
                        p.about__dscr.about__dscr--mb Составление детального плана и структуры сайта, учитывающего потребности и желания арендаторов и посетителей бизнес-центра.
                        p.about__dscr.about__dscr--mb Создание информационного раздела, содержащего подробную информацию о бизнес-центре, его услугах, возможностях и преимуществах.
                        p.about__dscr Создание информационного раздела, содержащего подробную информацию о бизнес-центре, его услугах, возможностях и преимуществах.
                    img.about__img-middle(src="./assets/images/about-img2.jpg", alt="Картинка")
                img.about__img-bottom(src="./assets/images/about-img3.jpg", alt="Картинка")
                .about__bottom
                    h3.about__title.about__title--mb Описание
                    .about__bottom-text
                        p.about__dscr.about__dscr--mr Составление детального плана и структуры сайта, учитывающего потребности и желания арендаторов и посетителей бизнес-центра.
                        p.about__dscr.about__dscr--mr Составление детального плана и структуры сайта, учитывающего потребности и желания арендаторов и посетителей бизнес-центра.
                        p.about__dscr Разработка интерактивной карты бизнес-центра, позволяющей пользователям легко найти нужный офис или помещение.

        section.section
            h2.section__title Контакты
            .contact
                .contact__card
                    img.contact__img(src="./assets/images/white-block.png", alt="Картинка")
                    h3.contact__title ТГ
                    +btn('contact__btn btn--big') Написать
                        svg.service-card__arrow.white-arrow(width="21" height="23" viewBox="0 0 21 23")
                            use(xlink:href='#whiteArrow')
                .contact__card
                    img.contact__img(src="./assets/images/white-block.png", alt="Картинка")
                    h3.contact__title Почта
                    +btn('contact__btn') Написать
                        svg.service-card__arrow.blue-arrow(width="21" height="23" viewBox="0 0 21 23")
                            use(xlink:href='#blueArrow')

        +modalForOrder(true, 'modal-order')


