mixin aboutCard(imgNumber, title,dscr)
    .about-card
        img.about-card__img(src=`./assets/images/about${imgNumber}.png`, alt="Картинка")
        .about-card__content
            h2.about-card__title=title
            p.about-card__dscr=dscr