@font-face {
	font-family: Onest;
	font-display: swap;
	src: url("../fonts/Onest-Regular.woff2") format("woff2"), url("../fonts/Onest-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: Pixeloid-Mono;
	font-display: swap;
	src: url("../fonts/Pixeloid-Mono.woff2") format("woff2"), url("../fonts/Pixeloid-Mono.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: Pixeloid-Sans;
	font-display: swap;
	src: url("../fonts/Pixeloid-Sans.woff2") format("woff2"), url("../fonts/Onest-Sans.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
