@mixin flex-row {
    display: flex;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin grid3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: rem(25);
}

@mixin card-title {
    font-family: Pixeloid-Sans;
    font-size: rem(30);
    line-height: 135%;

    @include xs {
        font-size: rem(22);
    }
}

@mixin dscr {
    font-family: Pixeloid-Sans;
    font-size: rem(18);
    line-height: 135%;
}

@mixin list {
    padding: 0;
    margin: 0;
    list-style-type: square;
    padding-left: rem(20);
}

@mixin item {
    @include dscr;
    color: var(--grey);
}

@mixin link {
    @include dscr;
    color: var(--black);
    transition: color .2s ease-in-out;

    &:hover {
        color: var(--main);
    }

    &:focus {
        outline: none;
        color: var(--main);
    }

    &:active {
        color: var(--main--active);
    }
}