@import "normalize";
@import "fonts";
@import "colors";
@import "variables";
@import "functions";
@import "media-queries";
@import "mixins";

@import './components/btn';
@import './components/portfolioCard';
@import './components/serviceCard';
@import './components/jobCard';
@import './components/case';
@import './components/header&hero';
@import './pages/index';
@import './components/footer';
@import './components/modalForOrder';
@import './pages/portfolio';

*,
:after,
:before {
  box-sizing: border-box;
}

#svg-sprites {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Pixeloid-Sans, Pixeloid-Mono, Onest, serif;
  font-size: 16px !important;
  font-weight: 400;
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 0 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  width: 100%;
}

.main {
  overflow-x: hidden;
  background-color: var(--bg);
}

.container {
  width: 100%;
  max-width: rem(1200);
  margin-right: auto;
  margin-left: auto;
  padding: 0 var(--x-offset-main);
}

.section {
  margin-bottom: var(--section-margin);

  &__title {
    margin-bottom: rem(40);
    font-family: Pixeloid-Sans;
    font-size: rem(55);
    line-height: 135%;
    color: var(--black);

    &--mb0 {
      margin-bottom: 0;
    }
  }

  &__header {
    @include flex-row;
    margin-bottom: rem(40);
  }

  &__arrow {
    margin-right: rem(30);
  }

  @include e-md {
    &__title {
      font-size: rem(40);
    }
  }

  @include xs {
    &__title {
      font-size: rem(30);
    }
  }
}

.main-title {
  max-width: rem(878);
  margin-bottom: rem(48);
  text-align: center;
  font-family: Pixeloid-Sans;
  font-size: rem(110);
  line-height: 110%;

  @include e-md {
    max-width: rem(559);
    font-size: rem(70);
  }

  @include xs {
    font-size: rem(50);
  }
}

.none {
  display: none;
}

.flex {
  display: flex;
}

.block {
  display: block;
}

.white-arrow,
.blue-arrow {
  position: absolute;
  top: 37%;
  right: rem(30);
  transition: fill .2s ease-in-out;

  @include xxs {
    top: 30%;
    right: rem(5);
  }
}

.blue-arrow {
  fill: var(--main);
}

.white-arrow {
  fill: var(--white);
}

.back-arrow {
  fill: var(--grey);
}


