:root {
    --bg-black: #0B0B0B;
    --card-bg: #343434;
    --black: #000;
    --white: #FFFFFF;
    --text-grey: #94A2B8;
    --main-blue: #2699FF;
    --input-border: #C9C9C9;
    --input-text: #ECECEC;
    --gradient: linear-gradient(0deg, #3246F7 0%, #478DF7 100%);
}


