$Breakpoint__phone: 390px;
$Breakpoint__big-phone: 600px;
$Breakpoint__min-tablet: 768px;
$Breakpoint__tablet: 900px;
$Breakpoint__big-tablet: 1200px;
$Breakpoint__min-desktop: 1500px;
$Breakpoint__desktop: 1800px;

@mixin desktop {
  @media screen and (max-width: #{$Breakpoint__desktop}) {
    @content;
  }
}

@mixin min-desktop {
  @media screen and (max-width: #{$Breakpoint__min-desktop}) {
    @content;
  }
}

@mixin big-tablet {
  @media screen and (max-width: #{$Breakpoint__big-tablet}) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: #{$Breakpoint__tablet}) {
    @content;
  }
}

@mixin min-tablet {
  @media screen and (max-width: #{$Breakpoint__min-tablet}) {
    @content;
  }
}

@mixin big-phone {
  @media screen and (max-width: #{$Breakpoint__big-phone}) {
    @content;
  }
}

@mixin phone {
  @media screen and (max-width: #{$Breakpoint__phone}) {
    @content;
  }
}







