@import "functions";
@import "media-queries";

:root {
  //margins
  --x-offset-main: #{rem(20)};
  --section-margin: #{rem(150)};
}

@include big-tablet {
  :root {
    //margins
    --x-offset-main: #{rem(100)};
    --section-margin: #{rem(80)};
  }
}

@include tablet {
  :root {
    //margins
    --x-offset-main: #{rem(70)};
  }
}

@include big-phone {
  :root {
    //margins
    --x-offset-main: #{rem(30)};
  }
}

@include phone {
  :root {
    //margins
    --x-offset-main: #{rem(25)};
    --section-margin: #{rem(70)};
  }
}