.footer {
    background-color: var(--bg);
    padding-bottom: rem(60);

    &__up {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: rem(30);
        border-bottom: rem(1) solid var(--grey);
    }

    &__link {
        @include link;
    }

    &__down{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: rem(23);
    }

    &__dscr,
    &__social-link {
        @include dscr;
        color: var(--grey);
    }

    &__social-link:first-child {
        margin-right: rem(20);
    }

    @include md {
        &__down {
            flex-direction: column;
        }
        &__social {
            margin-bottom: rem(15);
            margin-top: rem(15);
        }
    }

    @include xs {
        &__up {
            flex-direction: column;
            align-items: flex-start;
        }

        &__link:not(:last-child) {
            margin-bottom: rem(25);
        }

        &__down {
            align-items: flex-start;
        }

        &__social {
            @include flex-column;
            margin-bottom: rem(25);
            margin-top: rem(25);
        }

        &__social-link:first-child {
            margin-bottom: rem(25);
            margin-right: 0;
        }
    }
}