.portfolio-card {

    &__title {
        @include card-title;
        color: var(--black);
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}