.footer
    .container
        .footer__up 
            a.footer__link(href="#portfolio") кейсы
            a.footer__link(href="#service") услуги
            a.footer__link(href="#job") вакансии
            a.footer__link(href="#about") о нас
            a.footer__link(href="#contact") контакты
        .footer__down 
            span.footer__dscr © дизайн–студия поярче. 2023
            .footer__social 
                a.footer__social-link(href="/") tg
                a.footer__social-link(href="/") почта
            span.footer__dscr политика конфиденциальности