.footer
    .container
        .footer__up 
            a.footer__link(href="/") кейсы
            a.footer__link(href="/") услуги
            a.footer__link(href="/") вакансии
            a.footer__link(href="/") о нас
            a.footer__link(href="/") контакты
        .footer__down 
            span.footer__dscr © дизайн–студия поярче. 2023
            .footer__social 
                a.footer__social-link(href="/") tg
                a.footer__social-link(href="/") почта
            span.footer__dscr политика конфиденциальности