.header-hero
  .container
    header.header
      .header__container
        a.header__logo(href='/')
          svg.header__svg(width="130" height="23" viewBox="0 0 130 23")
            use(xlink:href="#logo")

        nav.header__nav
          a.header__link(href="/") кейсы
          a.header__link(href="/") услуги
          a.header__link(href="/") вакансии
          a.header__link(href="/") о нас
          a.header__link(href="/") контакты

          button.header__burger.none(id="burger-btn")
            svg.header__burger-icon.burger-icon(viewBox="0 0 44 44" width="44" height="44")
              use(xlink:href="#burger")
            svg.header__burger-icon.close-icon(viewBox="0 0 24 24" width="24" height="24")
              use(xlink:href="#close")

        .burger-menu.none
          nav.burger-menu__links
            a.header__link(href="./publish.html") кейсы
            a.header__link(href="./journal.html") услуги
            a.header__link(href="./edition.html") вакансии
            a.header__link(href="./contacts.html") о нас
            a.header__link(href="./requirements.html") контакты

    section.hero
      .hero__container
        h1.main-title Дизайн студия для бизнеса
        p.hero__dscr Делаем дизайн, который приносит прибль
        +btn('btn--big hero__btn') Оставить заявку
            svg.white-arrow.hero__icon(width="24" height="24" viewBox="0 0 24 24")
                use(xlink:href="#whiteArrow")

